body {
    font-family: Geist, sans-serif;
    margin: 0;
}

#privacy-notice {
    padding: 15px;
    margin: 15px;
    max-width: 600px;
    background-color: white;
}

.text-block {
    max-width: 600px;
}

input, button {
    margin-top: 5px;
    box-sizing: border-box;
}

body {
    background-image: url('/assets/soulfire-bg.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.centered-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.soulfire-name {
    padding: 15px 15px 15px 15px;
    background-color: black;
    color: white;
    font-size: 24pt;
}

.centered-box {
    display: flex;
    flex-direction: column;
}

.centered-box-main-contents {
    background-color: white;
    padding: 0 15px 15px 15px;
}

input {
    width: 100%;
}

footer {
    background-color: #21005b;
    color: white;
    padding: 5px 10px 5px 10px;
    font-size: 12px;
    position: fixed;
    left: 0px;
    bottom: 0px;
    margin: 15px;
    border-radius: 15px;
    z-index: -1;
}

@media (pointer:none), (pointer:coarse) {
    .centered-box-container, button, button::placeholder, input, input::placeholder {
        font-size: 36pt;
    }

    button, input {
        width: 100%;
        padding: 30px;
        border-size: 15px;
        border-style: solid;
        margin-top: 30px;
    }

    #privacy-notice, .text-block {
        max-width: 100%;
        margin: 0;
        padding: 30px;
    }

    .soulfire-name {
        padding: 15px 15px 15px 15px;
        background-color: black;
        color: white;
        font-size: 96pt;
    }

    body {
        overflow: scroll;
    }

    .centered-box-container {
        justify-content: start;
        margin-top: 100px;
        margin-bottom: 35vh;
    }

    footer {
        position: fixed;
        left: 0px;
        bottom: 0px;
        width: 100vw;
        margin: 0;
        padding: 15px;
        font-size: 36px;
        border-radius: 0;
        z-index: -1;
        box-sizing: border-box;
    }
}
