<!DOCTYPE html>
<html lang="en">
<head>
    <title>Soulfire</title>

    <script src="/assets/base.js"></script>

    <link rel="stylesheet" href="/assets/base.css">
</head>

<body>
    <div class="centered-box-container">
        <div id="contents" class="centered-box">
            <div class="soulfire-name">Soulfire</div>
            <div class="centered-box-main-contents text-block">
                <p>Hey there, thanks for considering Soulfire. Here's some
                    additional info, just in case.</p>
                <p><b>What is Soulfire?</b> Soulfire allows your servers members
                    to add specific games to their profile in certain channels. For
                    server owners, it may be used to associate certain player
                    accounts with a particular member, usable in restricting
                    available channels or in special events to players of such
                    game.</p>
                <p><b>Where's the config?</b> At this moment, there are no
                    options that can be configured in the bot.</p>
                <p><b>Does this collect my data?</b> We do not store any data
                    about you, your server, or your members. In the event of
                    an error, we may store game UIDs for troubleshooting.</p>
                <p><b>Who makes this?</b> Some guy called der_frühling. What
                    a nerd! <i><a href="https://github.com/der-fruhling-entertainment/soulfire">We're open source!</a></i></p>
                <p>If you have any more questions, feel free to create a
                    discussion on the
                    <a href="https://github.com/der-fruhling-entertainment/soulfire/discussions">project's GitHub page.</a>
                    Updates may be published at <a href="https://xn--derfrhling-eeb.net/" target="_blank" title="let the eeb flow">https://derfrühling.net/</a>
                    (atom feed available).
                <p>Next up, {{name}}! <a href="/all-games">View all games.</a></p>
                <p><b><a href="{{auth}}">Add the bot here!</a></b></p>
            </div>
        </div>
    </div>

    <footer>
        &copy; 2024 der_frühling. All games properties of their respective owners.
    </footer>
</body>
</html>
