<!DOCTYPE html>
<html lang="en">
<head>
    <title>Soulfire</title>

    <script src="/assets/base.js"></script>

    <link rel="stylesheet" href="/assets/base.css">
</head>

<body>
    <div class="centered-box-container">
        <div id="contents" class="centered-box">
            <div class="soulfire-name">Soulfire</div>
            <div class="centered-box-main-contents">
                <p>Successfully linked! You can now return to Discord.</p>
            </div>
        </div>
    </div>

    <footer>
        &copy; 2024 der_frühling. All games properties of their respective owners.
    </footer>
</body>
</html>
