<!DOCTYPE html>
<html lang="en">
<head>
    <title>Soulfire</title>

    <script src="/assets/base.js"></script>

    <link rel="stylesheet" href="/assets/base.css">
</head>

<body>
    <img alt="" src="/assets/soulfire-bg.svg" id="backdrop">

    <div class="centered-box-container">
        <div id="contents" class="centered-box">
            <div class="soulfire-name">Soulfire</div>
            <div class="centered-box-main-contents">
                <p>Successfully linked! You can now return to Discord.</p>
            </div>
        </div>
    </div>
</body>
</html>
